body {
    margin: 0;
    padding: 0;

    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.dto-generator-container {
    height: 100vh;
    width: 100vw;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
}

.header {
    width: 99%;
    padding: 10px 0;
    margin-bottom: 20px;

    text-align: center;
    background-color: #333;
    color: #fff;
}

.header h1 {
    margin: 0;
}

.input-container {
    width: 100%;
    margin-bottom: 20px;

    display: flex;
    align-items: stretch;
}

.base-input-elements-style {
    margin: 0 10px;
    padding: 10px;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    color: #000;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}

.select {
    width: 110px;
}

.input-name-dto {
    width: 200px;
}

.select:focus,
.input-name-dto:focus {
    outline: none;
    border-color: #007bff;
}

.text-area-container {
    width: 100%;
    height: 100%;
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.text-area {
    flex: 1;
    margin: 0 10px;
    padding: 10px;
    resize: none;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    color: #000;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.text-area:focus {
    outline: none;
    border-color: #007bff;
}

.output-container {
    flex: 1;
    margin: 0 10px;

    display: flex;
    position: relative;
}

.copy-button {
    padding: 0;
    height: 24px;
    width: 24px;
    bottom: 5px;
    left: 15px;
    font-size: 1.2em;

    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    color: #000;
}
.copy-button:hover {
    color: #007bff;
}
.copy-button:focus {
    outline: none;
}

.buttons-container {
    width: 100%;
    margin-bottom: 20px;

    display: flex;
    justify-content: center;
    flex-direction: row;
}

.process-button {
    padding: 10px 20px;
    margin: 20px 10px 0 10px;

    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.process-button:hover {
    background-color: #0056b3;
}

@media (max-width: 600px) {
    .input-container {
        flex-direction: column;
    }

    .select {
        width: 100%;
        margin: 10px 0;
    }

    .text-area-container {
        flex-direction: column;
    }

    .text-area {
        margin: 10px 0;
    }
}